@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Saira Condensed", sans-serif;
}

:root {
    --background: #0b0c0c;
    --background-accent: #1a1b1c;
    --text: #c6c9cf;
    --accent: #f0f0f0;
}

body {
    color: #1c1c1c;
    background-color: #1d2021;
    font-family: "Saira Condensed", sans-serif;
    background-color: var(--background);
}

nav {
    color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 110px;
}

.title {
    text-align: center;
    font-family: "Borel";
}

.container {
    height: calc(100svh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    min-height: 55px;
    width: min(100vw - 80px, 275px);
    background-color: var(--background-accent);
    border-radius: 0px;
    border: 0;
    color: var(--text);
    padding: 15px;
    font-size: 20px;
    border: 1px solid var(--accent);
    border-right: 0;
    transition: 0.2s;
}

input::placeholder {
    user-select: none;
}

input:hover {
    background-color: var(--background);
}

button {
    display: flex;
    width: fit-content;
    border: 1px solid var(--accent);
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--background);
    color: var(--text);
}
